* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222222;
  color: #EAEAEA;
  font-family: 'Roboto Slab', serif;
}

select {
  max-width: 100%;
}

#root {
  display: grid;
  grid-template-columns: auto 20rem;
  justify-content: center;
  margin: 2rem;
  gap: 2rem;
}

.site-header {
  grid-column: 1 / 3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tool-selector,
.seed-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, auto));
  gap: 1rem;
}

.tool-selector h2,
.seed-selector h2 {
  grid-column: 1 / -1;
}

.tool,
.seed {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: .128rem;
  border: 1px solid gray;
  cursor: pointer;
  text-align: center;
}

.tool.selected {
  background-color: white;
  color: black;
}

.seed.selected {
  border-color: white;
}

.info {
  margin-block-start: auto;
}